In [0]:
# upload kaggle.json first
!mkdir ~/.kaggle
!cp ./kaggle.json ~/.kaggle

In [2]:
!kaggle competitions download -c zillow-prize-1

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading train_2017.csv.zip to /content
  0% 0.00/942k [00:00<?, ?B/s]
100% 942k/942k [00:00<00:00, 63.9MB/s]
Downloading sample_submission.csv.zip to /content
 51% 5.00M/9.86M [00:00<00:00, 13.6MB/s]
100% 9.86M/9.86M [00:00<00:00, 24.9MB/s]
Downloading train_2016_v2.csv.zip to /content
  0% 0.00/643k [00:00<?, ?B/s]
100% 643k/643k [00:00<00:00, 89.6MB/s]
Downloading properties_2016.csv.zip to /content
 94% 153M/163M [00:02<00:00, 58.8MB/s]
100% 163M/163M [00:02<00:00, 68.0MB/s]
Downloading properties_2017.csv.zip to /content
 99% 163M/165M [00:01<00:00, 104MB/s]
100% 165M/165M [00:01<00:00, 110MB/s]
Downloading zillow_data_dictionary.xlsx to /content
  0% 0.00/18.8k [00:00<?, ?B/s]
100% 18.8k/18.8k [00:00<00:00, 19.6MB/s]

## Unzip Data

In [3]:
!unzip properties_2016.csv.zip
!rm properties_2016.csv.zip

Archive:  properties_2016.csv.zip
  inflating: properties_2016.csv

In [0]:
import zipfile
import glob 
import os

In [5]:
csv_files = !ls *.csv
csv_files

['properties_2016.csv']

In [6]:
## f-strings
name = 'man'
print("My name is {} and {}".format(1+2, 4+5)) 
print( f"My name is {1+2} AND {3+5}")

My name is 3 and 9
My name is 3 AND 8

In [0]:
def unzip_data(src, dest=".", remove_all=True):
  zipfile.ZipFile(src).extractall(dest)
  if remove_all: os.remove(src)
  return f"{src} extraction to {dest} complete"

In [8]:
zip_files = glob.glob("./*.zip")
zip_files

['./sample_submission.csv.zip',
 './train_2016_v2.csv.zip',
 './train_2017.csv.zip',
 './properties_2017.csv.zip']

In [9]:
list(map(unzip_data, zip_files))

['./sample_submission.csv.zip extraction to . complete',
 './train_2016_v2.csv.zip extraction to . complete',
 './train_2017.csv.zip extraction to . complete',
 './properties_2017.csv.zip extraction to . complete']

In [0]:
# for f in zip_files: unzip_data(f)

## Data Exploration

In [0]:
import pandas as pd

In [12]:
%%time
df_2016 = pd.read_csv("./properties_2016.csv")
df_2017 = pd.read_csv("./properties_2017.csv")

<string>:2: DtypeWarning: Columns (22,32,34,49,55) have mixed types.Specify dtype option on import or set low_memory=False.
<string>:2: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.

CPU times: user 21.2 s, sys: 3.56 s, total: 24.7 s
Wall time: 24.7 s

In [13]:
[(i==v) for i,v in zip([1,2,3],[1,6,6])]

[True, False, False]

In [14]:
sum([i==v for i,v in zip(df_2016.columns,df_2017.columns)]) == 58

True

In [15]:
df_2016.shape, df_2017.shape

((2985217, 58), (2985217, 58))

In [16]:
# combine the two dataframes
df = pd.concat([df_2016, df_2017])
df.shape

(5970434, 58)

In [17]:
%%time
trn_2016 = pd.read_csv("./train_2016_v2.csv")
trn_2017 = pd.read_csv("./train_2017.csv")

CPU times: user 77.2 ms, sys: 1.86 ms, total: 79.1 ms
Wall time: 76.9 ms

In [18]:
trn_2016.shape, trn_2017.shape

((90275, 3), (77613, 3))

In [19]:
trn = pd.concat([trn_2016, trn_2017])
trn.shape

(167888, 3)

In [20]:
trn.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01
3  12643413    0.0218      2016-01-02
4  14432541   -0.0050      2016-01-02

In [21]:
df.head(2).T

                                        0            1
parcelid                         10754147     10759547
airconditioningtypeid                 NaN          NaN
architecturalstyletypeid              NaN          NaN
basementsqft                          NaN          NaN
bathroomcnt                             0            0
bedroomcnt                              0            0
buildingclasstypeid                   NaN          NaN
buildingqualitytypeid                 NaN          NaN
calculatedbathnbr                     NaN          NaN
decktypeid                            NaN          NaN
finishedfloor1squarefeet              NaN          NaN
calculatedfinishedsquarefeet          NaN          NaN
finishedsquarefeet12                  NaN          NaN
finishedsquarefeet13                  NaN          NaN
finishedsquarefeet15                  NaN          NaN
finishedsquarefeet50                  NaN          NaN
finishedsquarefeet6                   NaN          NaN
fips                                 6037         6037
fireplacecnt                          NaN          NaN
fullbathcnt                           NaN          NaN
garagecarcnt                          NaN          NaN
garagetotalsqft                       NaN          NaN
hashottuborspa                        NaN          NaN
heatingorsystemtypeid                 NaN          NaN
latitude                      3.41444e+07  3.41404e+07
longitude                    -1.18654e+08 -1.18625e+08
lotsizesquarefeet                   85768         4083
poolcnt                               NaN          NaN
poolsizesum                           NaN          NaN
pooltypeid10                          NaN          NaN
pooltypeid2                           NaN          NaN
pooltypeid7                           NaN          NaN
propertycountylandusecode            010D         0109
propertylandusetypeid                 269          261
propertyzoningdesc                    NaN       LCA11*
rawcensustractandblock         6.0378e+07   6.0378e+07
regionidcity                        37688        37688
regionidcounty                       3101         3101
regionidneighborhood                  NaN          NaN
regionidzip                         96337        96337
roomcnt                                 0            0
storytypeid                           NaN          NaN
threequarterbathnbr                   NaN          NaN
typeconstructiontypeid                NaN          NaN
unitcnt                               NaN          NaN
yardbuildingsqft17                    NaN          NaN
yardbuildingsqft26                    NaN          NaN
yearbuilt                             NaN          NaN
numberofstories                       NaN          NaN
fireplaceflag                         NaN          NaN
structuretaxvaluedollarcnt            NaN          NaN
taxvaluedollarcnt                       9        27516
assessmentyear                       2015         2015
landtaxvaluedollarcnt                   9        27516
taxamount                             NaN          NaN
taxdelinquencyflag                    NaN          NaN
taxdelinquencyyear                    NaN          NaN
censustractandblock                   NaN          NaN

In [22]:
%%time
df = pd.merge(trn, df)

CPU times: user 5.65 s, sys: 4.58 s, total: 10.2 s
Wall time: 10.2 s

In [23]:
df.shape

(335776, 60)

In [24]:
df.head().T

                                        0  ...            4
parcelid                         11016594  ...     14366692
logerror                           0.0276  ...   0.00214159
transactiondate                2016-01-01  ...   2017-08-04
airconditioningtypeid                   1  ...          NaN
architecturalstyletypeid              NaN  ...          NaN
basementsqft                          NaN  ...          NaN
bathroomcnt                             2  ...          3.5
bedroomcnt                              3  ...            4
buildingclasstypeid                   NaN  ...          NaN
buildingqualitytypeid                   4  ...          NaN
calculatedbathnbr                       2  ...          3.5
decktypeid                            NaN  ...          NaN
finishedfloor1squarefeet              NaN  ...          NaN
calculatedfinishedsquarefeet         1684  ...         2263
finishedsquarefeet12                 1684  ...         2263
finishedsquarefeet13                  NaN  ...          NaN
finishedsquarefeet15                  NaN  ...          NaN
finishedsquarefeet50                  NaN  ...          NaN
finishedsquarefeet6                   NaN  ...          NaN
fips                                 6037  ...         6059
fireplacecnt                          NaN  ...          NaN
fullbathcnt                             2  ...            3
garagecarcnt                          NaN  ...            2
garagetotalsqft                       NaN  ...          468
hashottuborspa                        NaN  ...          NaN
heatingorsystemtypeid                   2  ...          NaN
latitude                       3.4281e+07  ...  3.36681e+07
longitude                    -1.18489e+08  ... -1.17678e+08
lotsizesquarefeet                    7528  ...         3643
poolcnt                               NaN  ...          NaN
poolsizesum                           NaN  ...          NaN
pooltypeid10                          NaN  ...          NaN
pooltypeid2                           NaN  ...          NaN
pooltypeid7                           NaN  ...          NaN
propertycountylandusecode            0100  ...            1
propertylandusetypeid                 261  ...          261
propertyzoningdesc                   LARS  ...          NaN
rawcensustractandblock        6.03711e+07  ...  6.05905e+07
regionidcity                        12447  ...        32380
regionidcounty                       3101  ...         1286
regionidneighborhood                31817  ...          NaN
regionidzip                         96370  ...        96962
roomcnt                                 0  ...            0
storytypeid                           NaN  ...          NaN
threequarterbathnbr                   NaN  ...            1
typeconstructiontypeid                NaN  ...          NaN
unitcnt                                 1  ...          NaN
yardbuildingsqft17                    NaN  ...          NaN
yardbuildingsqft26                    NaN  ...          NaN
yearbuilt                            1959  ...         2014
numberofstories                       NaN  ...          NaN
fireplaceflag                         NaN  ...          NaN
structuretaxvaluedollarcnt         122754  ...       346458
taxvaluedollarcnt                  360170  ...       585529
assessmentyear                       2015  ...         2015
landtaxvaluedollarcnt              237416  ...       239071
taxamount                         6735.88  ...        10153
taxdelinquencyflag                    NaN  ...          NaN
taxdelinquencyyear                    NaN  ...          NaN
censustractandblock           6.03711e+13  ...          NaN

[60 rows x 5 columns]